<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2>This website is developed by Rohan for fun</h2>
            <p> This website is created using nodjs</p>
        </div>
    </section>
<%- contentFor('body') %>